
body {
  font-family: "Oxanium", sans-serif;
  text-align: center;
  background-color: #a2d2ff;
  color: white;
  background: linear-gradient(#a2d2ff, #EFB0C9);
}

#you {
  width: 300px;
  border-radius: 50%;
  border: 6px solid #EFB0C9;
}

h1, h2, h3, h4, p {
  text-shadow: 0px 0px 1px black;
}

#old{
  background: #EFB0C9;
  padding: 6px 8px 6px 8px;
  border-radius: 4px;
  margin-bottom: 5px 0 10px 0;
}

#dob {
  margin: 0;
  background: #EFB0C9;
  padding: 5px 10px;
  border-radius: 4px;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Gift Section */
.gift-section {
  margin-top: 50px;
}

.gift-title {
  margin-bottom: 10px;
}

.gift-hint {
  margin-top: 0;
}

.gift-image {
  margin: 0 auto;
  background-image: url(images/present.jpg);
  background-size: cover;
  width: 400px;
  height: 400px;
  border: 6px solid white;
  border-radius: 10px;
}

.gift-image:hover {
  background-image: url(images/Happy.gif);
  background-size: cover;
}

#react-image:hover {
  background-image: url(images/Hot.gif);
  background-size: cover;
}

#describe-image:hover {
  background-image: url(images/describe.gif);
  background-size: cover;
}

#compare-image:hover {
  background-image: url(images/compare.gif);
  background-size: cover;
}

#gift-image-cheers {
  height: 200px;
}

#gift-image-cheers:hover {
  background-image: url(images/cheers.gif);
  background-size: cover;
}