
body {
  font-family: "Oxanium", sans-serif;
  text-align: center;
  background-color: #a2d2ff;
  color: white;
}

#you {
  width: 300px;
  border-radius: 50%;
  border: 6px solid #EFB0C9;
}

h1, h2, h3, h4, p {
  text-shadow: 0px 0px 1px black;
}

#old{
  background: #EFB0C9;
  padding: 6px 8px 6px 8px;
  border-radius: 4px;
  margin-bottom: 5px 0 10px 0;
}

#dob {
  margin: 0;
  background: #EFB0C9;
  padding: 5px 10px;
  border-radius: 4px;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}