#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;
}

body {
    margin: 0;
    color: #e9ecef;
    font-family: "Oxanium", sans-serif;
    text-align: center;
}

#logo-section {
    padding-top: 40px;
    z-index: 1;
    position: relative;
}

#x-logo {
    width: 150px;
    position: absolute;
    top: 20px;  
    left: 20px; 
    margin: 0;  
    padding: 8px;
    z-index: 2; 
    background-color:rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 2px;
    transition: all 0.6s ease;
}

#x-logo:hover {
    background-color:rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

#hero {
    min-height: calc(100vh - 250px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
}

#tnc {
    margin-top: 160px;
    position: relative;
    z-index: 1;
}

.join-btn {
    padding: 6px 12px;
    background: rgb(255, 255, 255, 0.4);
    color: rgba(0, 0, 0, 0.7);
    border: none;
    font-weight: bold;
    border-radius: 3px;
    transition: all 0.6s ease;
    box-shadow: 0px 0px 4px rgb(255, 255, 255);
}

.join-btn:hover {
    background: rgba(0, 0, 0, 0.4);
    color: rgb(255, 255, 255, 0.7);
    box-shadow: 0px 0px 4px rgb(0, 0, 0);
    cursor: pointer;
}

.underline {
    position: relative;
    display: inline-block;
}

.underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;        
    height: 4px;
    background: white;
    transition: width 0.4s ease;
}

.underline:hover::after {
    width: 110%;       
}

#title {
    text-shadow: 0px 0px 4px black;
}

p {
    text-shadow: 0px 0px 4px black;
}